h1 {
    background-color: white;
    opacity: .7;
    padding: .5rem 1rem;
    border-radius: 25px;
    text-shadow:0 0 0 black;
    font-family
    letter-spacing: 3px;
    text-align: left;
    font-size: 2.5rem;
    color: rgb(87, 59, 28);
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(239, 148, 83);
    margin: 0;
}

.main {
    max-width: 900px;
    background: url("ada.jpg") center/cover;
    min-height: 100vh;
    padding: 5rem;

}

h2 {
    background-color: white;
    opacity: .7;
    padding: .5rem;
    border-radius: 25px;
    font-style: italic;
}

h3 {
    background-color: rgb(239, 148, 83);
    opacity: .7;
    padding: .5rem;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    color: rgb(4, 86, 59);
}


footer {
    background-color: rgb(8, 248, 192);
    text-align: center;
    opacity: .7;
    padding: .5rem;
    border-radius: 5px;
}